@mixin btnStyle($color,$bg-color,$py,$px,$border-radius) {
    color: $color;
    background-color: $bg-color;
    // border-color: $bg-color;
    padding: $py $px;
    border-radius: $border-radius;
    border: 1px solid $bg-color;

};

@mixin listStyle($my,$mx,$py,$px,$color-text,$font-size){
    margin: $my $mx;
    li{
        text-align: center;
        list-style: none;
        padding: $py $px;

        a{
            text-decoration: none;
            color: $color-text;
            font-size: $font-size;
        }
    }
}

