#teachers__tabula{
    padding-top: 4rem;
    background-color: #dcd1f3;
    background-image: url(../../image/Wave_White_bottom_right_shape_01.png);
    background-position: bottom left;
    background-size: 100%;
    background-repeat: no-repeat;

    .teachers__content{

        .teachers__item{
            text-align: center;
            padding-top: 30px;
            .card{
                border-radius: 15px;
                box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
                border: none;
                .img__teachers{
                    overflow: hidden;
                    
                    img{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        transition: all .5s;
                        width: 100%;
                    }

                    &:hover{
                        img{
                            transform: scale3d(1.05,1.05,1.05)
                        }
                        
                    }
                }
                

                .card-body{
                    span{
                        font-size: 0.7rem;
                        margin-bottom: 0.7em;
                        color: $color-violet-fandango;
                        font-weight: 600;
                    }
                    h4{
                        font-size: 1.45rem;
                        font-weight: 600;   
                    }
    
                    p{
                        font-size: 15px;
                        font-weight: 500;

                        @media (max-width:1200px) {
                            font-size: 14px;
                        }
                        @media (max-width:360px) {
                            font-size: 13px;
                        }
                    }
                }

            }
            
            
        }
        
    }
}